<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
    <link th:rel="stylesheet" th:href="@{/css/add_style.css}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body><h1>EDIT PERSON</h1>
<br>
<br>
<div class="wrapper">
    <form class="button_form" th:method="put" th:action="@{/person/{id}(id=${person.getId()})}" th:object="${person}">
        <div class="input-box">
            <input type="text" id="id" name="id" placeholder="Enter ID" th:field="*{id}" readonly>
        </div>
        <div class="input-box">
            <input type="text" id="fname" name="fname" placeholder="Enter first name" th:field="*{firstName}" required>
        </div>
        <div class="input-box">
            <input type="text" id="lname" name="lname" placeholder="Enter last name" th:field="*{lastName}" required>
        </div>
        <input class=" btn" type="submit" value="Submit">
    </form>
</div>
<div class="index_buttons">
    <form method="get" th:action="@{/}">
        <button>Home</button>
    </form>
    <form method="get" th:action="@{/person}">
        <button>Show All Persons</button>
    </form>
    <form method="get" th:action="@{/person/add}">
        <button>Add Person</button>
    </form>
    <form method="get" th:action="@{/person/search}" >
        <button>Search Person</button>
    </form>
</div>
</body>
</html>
