<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Person</title>
    <link th:rel="stylesheet" th:href="@{/css/add_style.css}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body><h1>SEARCH PERSON</h1>
<br>
<br>
<div class="wrapper">
    <form method="post" th:action="@{/person/search}">
        <div class="input-box">
            <input type="text" id="id" name="id" placeholder="Enter ID to search" required>
        </div>
        <input class=" btn" type="submit" value="Submit">
    </form>
</div>
<div class="index_buttons">
    <form method="get" th:action="@{/}">
        <button>Home</button>
    </form>
    <form method="get" th:action="@{/person}">
        <button>Show All Persons</button>
    </form>
    <form method="get" th:action="@{/person/add}">
        <button>Add Person</button>
    </form>
</div>
</body>
</html>
